{% extends "base.html" %}
{%block content %}
<h1>User Sign-in page</h1>
<div>
    <form method="post">
        <table>
            <tr>
               <td><label for="name">Username:</label></td>
                <td><input type="text" name="name" value='{{name}}' />
                <span class="error">{{username_error}}</span></td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input type="password" name="password" />
                <span class="error">{{password_error}}</span></td>
            </tr>
            <tr>
                <td><label for="password_check">Verify password:</label></td>
                <td><input type="password" name="password_check" />
                <span class="error">{{password_check_error}}</span></td>
            </tr>
            <tr>
                <td><label for="email">Email Address(optional):</label></td>
                <td><input type="text" name="email" value='{{email}}' />
                <span class="error">{{email_error}}</span></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}